* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
    outline: none;
}

.section {
    position: relative;
}

section, footer {
    width: 80vw;
    margin: 0 auto;
}

@media (min-width: 576px) {
    section, footer {
        width: 540px;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    section, footer {
        width: 720px;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    section, footer {
        width: 960px;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    section, footer {
        width: 1140px;
        margin: 0 auto;
    }
}